<%= javascript_include_tag 'admin' %>
<section class="main-content__body main-content__body--flush admin-assessments-index">
  <h1><%= Assessment.count %> Assessments created since <%= Assessment.minimum(:created_at).to_date %></h1>
  <div class="admin-assessments-index__metrics">
    <div class= "admin-assessments-index__metrics">
      <div class= "admin-assessments-index__metric">
        <label>By county</label>
        <%= bar_chart(Assessment.by_county) %>
      </div>
      <div class= "admin-assessments-index__metric">
        <label>By category</label>
        <%= bar_chart(Assessment.by_category) %>
      </div>
      <div class= "admin-assessments-index__metric">
        <label>By week</label>
        <%= line_chart(Assessment.by_week) %>
      </div>
      <div class= "admin-assessments-index__metric">
        <label>Assessment progress</label>
        <%= pie_chart(Assessment.by_progress, colors: [
          ENV.fetch('RED_COLOR', "#FF98A9"),
          ENV.fetch('GREY_COLOR', "#CCCCCC"),
          ENV.fetch('YELLOW_COLOR', "#FFEEA1"),
          ENV.fetch('BLUE_COLOR', "#99B2E5"),
          ENV.fetch('GREEN_COLOR', "#66AA33")]) %>
      </div>
    </div>
  </div>
</section>
